@import "src/components/scss/index";

.cafe-page{
  display: flex;
  padding: 0 8px;
  @include lessThanTablet{
    //align-items: center;
  }


}

.back-icon{
  background-color: $global-color-white;
  border-radius: 50%;
  @include square(44px);
  display: flex;
  align-items: center;
  justify-content: center;
}