@import "src/components/scss/index";

.carousel {
  outline: none;
  position: relative;

  :global(.swiper-slide) {
    align-items: center;
  }

  :global(.swiper-container) {
  }

  :global(.swiper-pagination-bullets-dynamic) {
    margin-top: 12px;
    transform: scale(1);
  }

  :global(.swiper-pagination-bullet) {
    @include square(24px);

    background: none;
    opacity: 1;
    cursor: pointer;

    &::before {
      content: "";
      border-radius: 50%;
      background: $global-black-20;

      @include square(8px);
      @include absoluteCenter;
      @include animate(width, height, background);
    }
  }

  :global(.swiper-pagination-bullet-active) {
    @include square(24px);

    opacity: 1;
    background: none;

    &::before {
      content: "";
      border-radius: 50%;
      background: $global-red-90;

      @include square(12px);
      @include absoluteCenter;
      @include animate(width, height, background);
    }
  }

  &__slider {
    outline: none;
    position: relative;

    &__element {
      max-width: calc(100% - #{$global-spacing-l});
      margin: 0 $global-spacing-xs;
      outline: none;

      &_with-paginator {
        margin-bottom: $global-spacing-xxxm;
      }
    }
  }
}
