@import './fonts.scss';
@import './variables';
@import './mixins';

* {
  box-sizing: border-box;
}

button,
input {
  outline: none;
  border: none;
  background: none;
}

body {
  margin: 0;
  height: 100vh;
  //position: fixed;
  //overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
span, h1, h2, h3, h4, h5{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
