
$global-color-accent: linear-gradient(0deg, #FDA344, #FDA344), #E2B37A;
$global-color-accent-text: #FDA344;

$global-color-grey-accent: #F6E8D7;

$global-color-grey-dark: #999999;

$global-color-grey: #F2F2F2;

$global-color-white: #FFFFFF;

$global-color-black: #000000;

$global-color-blue: #2787F5;


//шрифты

$global-h6-font-size: 12px;
$global-h5-font-size: 16px;
$global-h4-font-size: 18px;
$global-h3-font-size: 22px;
$global-h2-font-size: 32px;
$global-h1-font-size: 36px;

$button-font-size: 20px;



$global-border-radius: 12px;


