
$breakpoints: (
        xxxlg: 1680px,
        xxlg: 1440px,
        xlg: 1200px,
        lg: 1024px,
        xmd: 876px,
        md: 768px,
        sm: 330px
);

$global-color-accent: linear-gradient(0deg, #FDA344, #FDA344), #E2B37A;
$global-color-accent-text: #FDA344;

$global-color-grey-accent: #F6E8D7;

$global-color-grey-dark: #999999;

$global-color-grey: #F2F2F2;

$global-color-white: #FFFFFF;

$global-color-black: #000000;

$global-color-blue: #2787F5;

$background-accent: #FBF6EF;


//шрифты

$global-h6-min-font-size: 10px;
$global-h6-font-size: 12px;
$global-h5-font-size: 16px;
$global-h4-font-size: 18px;
$global-h3-font-size: 22px;
$global-h2-font-size: 32px;
$global-h1-font-size: 36px;

$button-font-min-size: 18px;
$button-font-size: 20px;
$input-font-size: 20px;



$global-border-radius: 12px;
$global-border-radius-min: 6px;

// остальное
$header-height: 60px;


$global-color-border: $global-color-grey;
$global-border-divider: 1px solid $global-color-border;

$global-black-100: #000;
$global-black-80: #787878;
$global-black-50: #9aa3ab;
$global-black-30: #c0c0c0;
$global-black-25: #d8d8d8;
$global-black-20: #e3e5e6;
$global-black-10: #f6f7f7;
$global-black-00: #fff;

// Отступы

$global-spacing-xxxl: 56px;
$global-spacing-xxxm: 44px;
$global-spacing-xxl: 32px;
$global-spacing-xl: 24px;
$global-spacing-l: 20px;
$global-spacing-m: 16px;
$global-spacing-ms: 14px; // меньше, чем "m", но больше, чем "s")
$global-spacing-s: 12px;
$global-spacing-xs: 10px;
$global-spacing-xxs: 8px;
$global-spacing-xxxs: 6px;
$global-spacing-tiny: 4px;
$global-spacing-nano: 2px;



