@import "src/components/scss/mixins";

.subscription-page{
  //padding: 0 16px;
  display: flex;
  flex-direction: column;

  &__title{
    margin-bottom: 24px;
    @include midget{
      margin-bottom: 0;
    }

  }

  &__card{
    margin-bottom: 12px;
    @include midget{
      margin-bottom: 0;
    }
  }
}