@import "src/components/scss/mixins";

.cafe-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  @include lessThanTablet{
    //max-width: 400px;
  }

  &__name{
    margin-bottom: 6px;
  }
  &__data{
    margin-bottom: auto;
    padding: 0 5px;
  }
  &__description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include midget{
      align-items: flex-start;
      flex-direction: column-reverse;
    }
  }
  &__info{
    max-width: 90%;
  }
  &__info-text{

  }
  &__features{
    display: flex;
  }
  &:nth-last-child{
    margin-bottom: 100px;
  }
}