@import "../../components/scss/variables";
@import "src/components/scss/index";

%qr-code-card__background-shared {
  position: relative;
  background-color: $global-color-accent-text;
  border-radius: 12px;
  margin: 0 auto;
  transition: .7s ease-out;
  max-width: 500px;
  max-height: 500px;
  padding: 3%;

  @include lessThanTablet {
    max-width: 350px;
    max-height: 350px;
  }

  @include midget{
    max-width: 200px;
    max-height: 200px;
  }

}

%qr-code-card__inner {
  width: 100%;
  height: 100%;
}

.qr-code-card {
  @extend %qr-code-card__inner;
  min-width: 64px;
  min-height: 64px;
  &__background {
    @extend %qr-code-card__background-shared;
    &-rotated {
      @extend %qr-code-card__background-shared;
      transform: rotateY(0.5turn) scaleX(-1);
    }

  }

  &__foreground {
    padding: 5.8%;
    border-radius: 8px;
    @extend %qr-code-card__inner;
    background-color: $global-color-white;
  }
}

.disabled-background{
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(189, 189, 189, 0.8);
  border-radius: 12px;
  padding: -5.8%;

}
