@import "src/components/scss/index";
.image{
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  transition: all 100ms ease-in-out;
  margin-bottom: 12px;
  height: 350px;
  max-width: 800px;
  @include lessThanTablet{
    height: 300px;
  }
  @include phone{
    height: 200px;
  }
  @include midget{
    margin-bottom: 0;
    height: 150px;
  }
  &-rounded{
    border-radius: 8px;
  }
  &-scalable:hover {
    transition: all 100ms ease-in-out;
    //transform: scale(1.01);
  }

  &-full{
    height: 100%;
    width: 100%;
  }
}