.image{
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 8px;
  width: 100%;
  max-height: 200px;
  transition: all 100ms ease-in-out;

  &-scalable:hover {
    transition: all 100ms ease-in-out;
    transform: scale(1.01);
  }
}