@import "../../scss/mixins";

.separator{
  height: 1px;
  background-color: $global-color-grey;

  &_black{
    background-color: $global-color-black;
  }
  margin:  8px 4px 12px;
  @include midget{
    margin:  2px 4px 4px;
  }
  &_invisible{
    opacity: 0;
  }
}