@import "src/components/scss/index";

//$local-width: calc(100% / 3);
.detailed-features{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;

  @include lessThanTablet{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  max-width: 500px;
  &__item{
    //width: $local-width;
    white-space: nowrap;
  }
}
.ghost{
  //width: $local-width;
  height: 0;
}