@import "../../scss/mixins";

.tag{
  border-radius: 6px;
  //max-height: px;
  margin: 2px 4px;
  padding: 4px 8px;
  &_accent {
    background: $global-color-accent;
    @include colorWhite;

    &:active {

    }

    &:hover:not(.button_disabled) {
      cursor: pointer;
    }
  }
  &_grey {
    @include backgroundGrey;
    @include colorBlack;

    &:active,
    &:hover {
      cursor:pointer;
    }
  }

  &_accent-grey {
    @include backgroundGreyAccent;
    @include colorWhite;

    &:active,
    &:hover {
      cursor:pointer;
    }
  }

  &_black {
    @include backgroundBlack;
    @include colorWhite;

    &:active {
    }

    &:hover:not(.button_disabled) {
      cursor: pointer;
    }
  }

  &_white {
    @include backgroundWhite;
    @include colorBlack;
    border: 2px solid $global-color-grey;

    &:active {

    }

    &:hover:not(.button_disabled) {

      cursor: pointer;
    }
  }

  &_blue {
    @include backgroundBlue;
    @include colorWhite;

    &:active {
    }

    &:hover:not(.button_disabled) {
      cursor: pointer;
    }
  }

  &_dark-grey {
    @include backgroundGreyDark;
    @include colorWhite;

    &:active {
    }

    &:hover:not(.button_disabled) {
      cursor: pointer;
    }
  }
}