@import '../../scss/variables';

.formik-input {
  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 2px;
  }

  &__field {
    box-sizing: border-box;
    height: 60px;
    border-radius: 12px;
    border-style: solid;
    font-size: $input-font-size;
    padding: 16px;
    border-width: 2px;
    border-color: $global-color-grey;
  }

  &__field:focus {
    border-color: $global-color-accent-text;
  }
}
