@import "src/components/scss/index";

.in-work-place{

  &__title{
    margin: 16px auto;
    @include midget{
      margin: 8px auto;
    }
  }

  &__text{

  }

  &__estimated-date{
    display: flex;
    justify-content: center;
    margin: 16px auto;
    @include midget{
      margin: 8px auto;
    }
  }

  &__button{
    margin-top: auto;
    display: flex;
    justify-content: center;
  }
}

.qr-not-available-container{
  position: relative;
  background-color: $global-color-black;
  color: $global-color-white;
  width: 100%;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &__text{
    font-weight: 200;
    margin-top: 8px;
  }

  &::after{
    position: absolute;
    background-color: $global-color-black;
    height: 100%;
    width: calc(100% + 2*8px);
    top:0;
    left: -8px;
    content: "";
    z-index: -1;
  }
}