@import "../../../components/scss/index";
@import "../../../components/scss/variables";

.header {
  padding: 0 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: $header-height;
  box-sizing: border-box;
  align-items: center;
  z-index: 1111;
  &-bordered{
    border-style: solid;
    border-bottom-width: 2px;
    border-color: $global-color-grey;
  }
}

.icon-center{
  margin: 0 auto;
}