@import "../../../components/scss/index";
@import "../../../components/scss/variables";

.header {
  padding: 0 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: $header-height;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: $global-color-grey;
  box-sizing: border-box;
  align-items: center;
}

.icon-center{
  margin: 0 auto;
}