.cafe-detailed-info{
  max-width: 100vw;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  &__name{

  }
  &__statuses{
    display: flex;
    flex-wrap: wrap;
  }
  &__button{
    margin-top: auto;
  }
}