@import "src/components/scss/index";

.cafe-detailed-info{
  max-width: 100vw;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  &__carousel{
    width: 90vw;
    display: inline;
    margin: 0 auto;

    &-absolute{
      position: fixed;
      top:0;
      left: 0;
      width: 100%;
      z-index: 0;
    }

  }


  &__name{

  }
  &__statuses{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    bottom: 10%;
    left: 0;
    height: 32px;
  }
  &__button{
    margin-top: auto;
  }
}

.cafe-info-slide{
  background-color: $global-color-white;
  z-index: 2;
  max-height: 100%;

  &__content{
    width: 100%;
    height: 100%;
    background-color: $global-color-white;
    position: relative;
    &::after{
      position: absolute;
      background-color: $global-color-white;
      width: calc(100% + 2*8px);
      height: 100%;
      top:-10%;
      left: -8px;
      border-radius: 16px;
      content: "";
      z-index: -1;

    }
  }

}