@import "src/components/scss/index";

$local-white-bg: rgba(242, 242, 242, 1);
.cafe-detailed-info{
  max-width: 100vw;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  &__header{
    position: relative;
  }
  &__icon-back{
    position: absolute;
    top:12px;
    left: 24px;
    background-color: $global-color-white;
    border-radius: 50%;
    @include square(44px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11111;
    padding:8px;

  }

  &__carousel{
    width: 90vw;
    display: inline;
    margin: 0 auto;

    &-absolute{
      position: fixed;
      top:0;
      left: 0;
      width: 100%;
      z-index: 0;
    }

  }


  &__name{

  }

  &__statuses{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    bottom: 10%;
    left: 0;
    height: 32px;
  }
  &__button{
    margin-top: auto;
  }
}

.cafe-info-slide{
  background-color: $local-white-bg;
  z-index: 2;
  max-height: 100%;

  &__content{
    width: 100%;
    height: 100%;
    background-color: $local-white-bg;
    position: relative;
    &::after{
      position: absolute;
      background-color: $local-white-bg;
      width: calc(100% + 2*8px);
      height: calc(100% + 28px);
      top:-20px;
      left: -8px;
      border-radius: 16px;
      content: "";
      z-index: -1;

    }
  }

}