@import "src/components/scss/index";

.card{
  background-color: black;
  border-radius: 12px;
  padding: 10px 30px 32px;
  max-width: 800px;
  margin:0 auto;
  @include lessThanTablet{
    max-width: 500px;
  }
  @include phone{
    padding: 5px 15px 16px;
  }

  &__features{
    margin-top:12px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    @include midget{
      margin-top:6px;
      margin-bottom: 8px;
    }
  }

  &__icon{
    margin-right: 8px;
  }
  &__price{

  }
  &__price-old{

  }

}