.not-mobile-page {
  &__container {
    padding: 0 5%;
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
  }

  &__first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__second-row {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &-left {
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 15%;
    }

    &-right {
      grid-column: 2 / 3;
    }
  }
}
