@import "../../scss/index";
@import "../../scss/variables";

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;

  border-style: solid;
  border-top-width: 2px;
  border-color: $global-color-grey;

  box-sizing: border-box;
}